body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #ae5ddd, #261596);
}

.main-title {
  text-align: center;
  color: white;
  margin: 20px 0;
}

.container {
  display: flex;
  gap: 30px;
  padding: 20px;
  justify-content: center;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.add-card {
  width: 32%;
}

.events-card {
  width: 60%;
}

label {
  display: block;
  margin-top: 10px;
}


input, select, textarea {
  width: 100%;
  height: 42px;              
  padding: 10px 12px;
  margin-top: 6px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  font-size: 14px;
}


button {
  background: linear-gradient(135deg, #0b115e, #c32852);
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  opacity: 0.9;
}

#events:empty::before {
  content: "No events yet. Add your first event!";
  color: #999;
  display: block;
  margin-top: 30px;
}

#events {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  margin-top: 20px;
}


.event {
  background: #eef2ff;
  padding: 15px;
  border-radius: 12px;
  margin-top: 15px;
  position: relative;
  max-width: 420px;  
}


.delete {
  position: absolute;
  top: 8px;
  right: 8px;
  background: red;
  border-radius: 50%;
  padding: 5px 8px;
}

.actions {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.action-btn {
  min-width: 350px;
  height: 42px;
  padding: 0 20px;
  font-size: 14px;
  border-radius: 10px;
}


#addBtn {
  width: 140px;
  height: 42px;
  margin-top: 20px;
}